.header {
  height: 34vw;
  margin: 30px auto;
  background: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  max-width: 50%;
  bottom: 10%;     
  left: 6vw;
  animation: FadeIn 3s;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: white;
  font-size: 19.2px;
}
.header button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
  &:hover {
    color: white;
    background-color: rgb(220, 47, 16);
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width:750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}